@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #ecf0f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

h1, 
h2 {
    font-family: "Saira", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

.text-primary {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #15a076;
}

/* Header Start */
#home {
    background-color: var(--bg-primary);
    height: fit-content;
}

#home .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure navbar is on top */
}

#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#home #logo {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

#home .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .navbar nav ul a {
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}

#home .header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}

#home .header-content .content-text {
    margin-bottom: 5rem;
}

#home .header-content p span {
    font-weight: 700;
    font-size: 20px;
}

#home .header-content h1 {
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

#home .header-content .title {
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}

#home .header-content .social {
    margin: 1rem 0 2rem;
}

#home .header-content .social a i {
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

#home .header-content .social a i:hover {
    transform: scale(0.85);
}

header .header-content img {
    max-width: 450px;
}

/* Header End */

/* About Start */
#about {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

#about h2, 
#Contact h2 {
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p {
    color: var(--gray);
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#Contact {
    background-color: var(--bg-primary);
}

/* About End */

/* Contact Start */
#Contact {
    padding: 4rem 0;
}

#Contact .row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}

#Contact .row input, 
#Contact .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--bg-primary);
    border: 1px solid #bbb;
    outline: none;
}

/* Contact End */

/* Footer Start */
#footer {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Footer End */

/* Tablet Responsive */ 
@media (max-width: 768px) {
    #home .navbar nav {
        display: block;
        text-align: center;
    }

    #home .navbar nav ul {
        margin-top: 20px;
    }

    #home .navbar nav ul a {
        margin: 0 8px;
    }

    #home .header-content {
        grid-template-columns: 1fr;
    }

    #home .header-content .content-text {
        margin-bottom: 0rem;
        margin-top: 5rem;
    }

    #home .header-content h1 {
        font-size: 50px;
    }

    #home .header-content img {
        max-width: 350px;
        margin: auto;
    }

    #about .about-content,
    #Contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #Contact .row img {
        max-width: 250px;
        margin: auto;
    }
}

/* Mobile Responsive */
@media (max-width: 528px) {
    #home .header-content h1 {
        font-size: 35px;
    }

    #home .header-content p span,
    #home .header-content .title {
        font-size: 16px;
    }

    .header .header-content img {
        margin-top: 2rem;
    }

    #about h2,
    #Contact h2 {
        font-size: 30px;
    }

    #about .about-content .col-1 h3 {
        font-size: 20px;
    }

    #Contact .row {
        padding: 2rem 1rem;
    }

    #Contact .row input,
    #Contact .row textarea {
        padding: 8px;
    }

    #Contact .row {
        padding: 1rem;
        margin-top: 2rem;
    }

    #about .about-content {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}
